.bg-left{
    background-color: #fffdd0;
    background-image: url('src/assets/login_bg.svg');
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;
    background-size: 500px;
}
.bg-right{
    background-color: #343a40;
    padding-top: 100px;
}

.btn[type=submit]{
    border-radius:50px;
    background-color: #ffc107;

}
.alert{
    padding: 1px;
}
.border-right{
    border: 1px solid;
}

  #nav_edit li a{
    text-decoration: none;
    outline: none;
    font-weight: 600;
    color:  white;
    clear:both;
    padding: 10px;
    margin:2px;
  }

  #nav_edit li a:hover{
    color: #bdbdbd;
  }
  .form-control:focus {
    border-color: rgb(218, 203, 0);
    box-shadow: inset 0 0.5px 0.5px rgba(0, 0, 0, 0.075), 0 0 5px rgba(246, 250, 36, 0.9);
  }

  @media only screen and (max-width: 600px) {
    .bg-right{
    background: linear-gradient(326deg, rgba(255,65,65,1) 8%, rgba(255,65,65,1) 13%, rgba(255,255,255,1) 13%, rgb(255, 255, 255) 77%, rgba(255,233,56,1) 77%, rgba(255,233,56,1) 93%, rgba(100,252,112,1) 93%);
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;

    }
    u{
      color:rgb(0, 0, 0);
    }
    i.fa-key::before{
      color: black;
    }
    .text-white{
      color:rgb(20, 20, 20)!important
    }
   
   
    
}
