<div class="background">
    <div class="container">
        <div class="pt-5">
            <div class="row">
                <!--left div-->
                <div class="col-md-5">
                <form [formGroup]="myForm" (ngSubmit)="onBook(myForm)">
                    <div class="bg-white shadow   px-3 py-5 mt-5" style="border-radius: 1.5rem;">
                        
                            <div class="input-group  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i
                                            class="fa fa-map-marker-alt "></i>
                                    </span>
                                </div>
                                <input #search   [formControl]="myForm.controls['src']" autocorrect="off" autocomplete="off" id="place" autocapitalize="off"
                                    spellcheck="off" type="text" 
                                    class="form-control border-warning " placeholder="PICK-UP LOCATION" 
                                   >
                            </div>
                            <p class="text-danger font-italic" *ngIf="(!myForm.controls['src'].valid && myForm.controls['src'].touched)">
                                    Source Destination is required
                            </p>

                            <div class="input-group  mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border-warning"><i
                                            class="fa fa-map-marker-alt "></i></span>
                                </div>
                                <input #destsearch  [formControl]="myForm.controls['dest']" autocorrect="off" autocomplete="off" id="place" autocapitalize="off"
                                    spellcheck="off" type="text"
                                    class="form-control border-warning " placeholder="DROP LOCATION"
                                    >
                            </div>
                            <p class="text-danger font-italic" *ngIf="(!myForm.controls['dest'].valid && myForm.controls['dest'].touched)">
                                    Drop Destination is required
                            </p>
                            <select  [formControl]="myForm.controls['vehicleType']"  class="custom-select form-control border-warning" style="background-color:White;">
                                    <option class="bg-warning" disabled="disabled" [selected]="selectedTempo">Available Vehicle Type</option>
                                    <option *ngFor="let vehicle of tempoList" [value]="vehicle.name" >
                                        {{ vehicle.name }}</option>
                                  
                            </select>
                            <p class="text-danger font-italic" *ngIf="(!myForm.controls['vehicleType'].valid && myForm.controls['vehicleType'].touched)">
                                    vehicle Name is required
                            </p>
                            
                            <div class="text-center text-black font-weight-bold bg-warning p-2 mt-4 mx-4" *ngIf="finaldistance" >
                                ESTIMATED FAIR :{{ finaldistance * 9 | currency:'INR'}}
                              </div>

                        
                    </div>
                    <div class="bg-white shadow   px-3 py-5 mt-5" style="border-radius: 1.5rem;">
                        <div class="input-group  mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-warning border-warning "><b>+91</b></span>
                            </div>
                            <input type="text"   [formControl]="myForm.controls['phone']" class="form-control border-warning " placeholder="PHONE NUMBER">
                        </div>
                        <p class="text-danger font-italic" *ngIf="(!myForm.controls['vehicleType'].valid && myForm.controls['vehicleType'].touched)">
                                valid phone is required
                        </p>
                        <div class="form-group">
                            <label class="text-warning">Enter Date:</label>
                            <input  [formControl]="myForm.controls['dateOfDelivery']"  type="date" name="bday" 
                                class="form-control border-warning">
                        </div>
                        <p class="text-danger font-italic" *ngIf="(!myForm.controls['dateOfDelivery'].valid && myForm.controls['dateOfDelivery'].touched)">
                                pickup date is required
                        </p>

                        <select  [formControl]="myForm.controls['goodsType']"  (change)="selectItem($event.target.value)" class="form-control border-warning">
                                <option selected="selected" class="bg-warning" disabled="disabled" [selected]="selctedefault">SELECT GOOD TYPE</option>
                                <option value="Electrical / Electronics">Electrical / Electronics</option>
                                <option value="Food &amp; Beverages">Food &amp; Beverages</option>
                                <option value="Tiles / Ceramics / Sanitaryware">Tiles / Ceramics / Sanitaryware</option>
                                <option value="house">House shifting</option>
                                <option value="Construction materials">Construction materials</option>
                                <option value="Glassware">Glassware</option>
                                <option value="Machines / Equipments / SpareParts">Machines / Equipments / SpareParts
                                </option>
                                <option value="Wood / Timber / Plywood">Wood / Timber / Plywood</option>
                                <option value="Vehicles / Automotive Parts">Vehicles / Automotive Parts</option>
                                <option value="Pipes / Metal Rods(more than 7ft)">Pipes / Metal Rods(more than 7ft)</option>
                                <option value="Metal Sheets">Metal Sheets</option>
                                <option value="Garments / Apparel / Textile">Garments / Apparel / Textile</option>
    
                            </select>
                            <p class="text-danger font-italic" *ngIf="(!myForm.controls['goodsType'].valid && myForm.controls['goodsType'].touched)">
                                    pickup date is required
                            </p>

                        <div class="form-group ">
                            <button type="submit" class="btn btn-block bg-warning mt-3" [disabled]="!myForm.valid" >Book </button>
                        </div>
                        <div class="alert alert-success alert-dismissible" *ngIf="message.length >0">
                                {{ message}}
                         </div>

                    </div>
                </form>
                </div>
                <!--right div-->
                <div class="col-md-6  bg-img ml-5 mt-5 d-none d-sm-block d-md-bock" >
                    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" *ngIf="srcPlaces">
                        <agm-marker *ngFor="let latlong of latlongs" [latitude]="latlong.latitude"
                            [longitude]="latlong.longitude" [iconUrl]="icon"></agm-marker>
                        <agm-marker *ngFor="let latlong of latlongsDest" [latitude]="latlong.latitude"
                            [longitude]="latlong.longitude" [iconUrl]="icondel"></agm-marker>

                    </agm-map>
                </div>
               
            </div>
        </div>
    </div>

</div>