.background{
    background: rgb(207,255,80);
    background: linear-gradient(120deg, rgba(207,255,80,1) 7%, rgba(255,255,255,1) 7%, rgba(250,250,250,1) 50%, rgba(255,233,56,1) 50%);
    background-size: cover;

}
.bg-img{
    background-image: url('/assets/location_search.svg');
    background-repeat: no-repeat ;
    background-size: contain;
    background-position: center;
    height: 400px;
}
.form-control:focus {
    border-color: rgb(255, 243, 77);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(246, 250, 36, 0.6);
  }
  agm-map {
    height: 500px;
  }
  
  .footer{
    background-color: #fcf04c;
    min-height:150px;
    padding-top:40px;
    width: 100%;
    bottom: 0;
    
  }