<div id="bg">
    <div id="content">

        <div class="container " style="padding-top:150px">
            <div class="mx-auto p-5 text-white" id="banner_content" style="border-radius: 0.5rem;">
                <div class="h2">India’s Largest Marketplace for Intracity Logistics
                </div>
                <p *ngIf="!loggedIn">GET &#8377;500 for new users</p>
                <a class="btn btn-warning btn-lg text-white" routerLink="/signup" *ngIf="!loggedIn">Join Us</a>
                <a class="btn btn-lg btn-outline-light rounded-pill mt-3" routerLink="/book" *ngIf="loggedIn">Book Now</a>

            </div>
        </div>

    </div>
</div>
<div class="container-fluid py-5 background">
    <h2 class="text-center text-white">Our services</h2>
    <div class="container mt-5 text-white text-center ">
            
            <div class="row justify-content-md-center">
                <div class="col-md-3 m-4 ">
                    <img src="/assets/landing_page.svg" alt="" srcset="" class="img-fluid">
                    <h6 class="h4 text-secondary mt-3">Hassle-Free truck rental</h6>
                    <p class="text-light"> Book mini truck online. Whenever you need, wherever you need</p>
                </div>
                <div class="col-md-3 m-4">
                    <img src="/assets/deliveries.svg " alt="" srcset="" class="img-fluid ">
                    <h6 class="h4 text-secondary mt-3">Safe and Reliable Deliveries </h6>
                    <p class="text-light">Superior safety ensured with our team of verified & trained partners</p>
                </div>
                <div class="col-md-3 m-4">
                    <img src="/assets/card_payments.svg" alt="" srcset="" class="img-fluid ">
                    <h6 class="h4 text-secondary  mt-3">Transparent Pricing</h6>
                    <p class="text-light ">Enjoy the most affordable rates in town with our transparent pricing</p>
                </div>
                
            </div>
    </div>
    <div class="text-center">
        <button class="btn btn-lg btn-outline-secondary rounded-pill mt-3 mx-auto" routerLink="/about">Read More</button>

    </div>
</div>
<footer class="footer">
        <div class="container text-center"><span class="text-muted"><b>Copyright&copy;Shifterly | All Rights Reserved | Contact Us: +91 90000 00000</b></span></div>
</footer>